In [13]:
from bs4 import BeautifulSoup as bs
import requests as req
from pprint import *
bsr = bs(open("../data/jiading_map/Jiading.osm"),"xml")

nodes = bsr.find_all('node')
print(len(nodes))
# print nodes

4628

In [14]:
import pandas as pd
datalist=[]
for node in nodes:
    datalist.append([node['id'],node['lat'],node['lon']])
df1=pd.DataFrame(datalist,columns=['origin_id','lat','lon'])
df1['new_id']=df1.index
df1

       origin_id         lat          lon  new_id
0      368906068  31.2906170  121.2185829       0
1      499158740  31.2874178  121.1973003       1
2      499158746  31.2874739  121.1981567       2
3      499158754  31.2874220  121.1996538       3
4      499158759  31.2871701  121.2011454       4
5      499158764  31.2868806  121.2021130       5
6      499158768  31.2865055  121.2030370       6
7      499158775  31.2858191  121.2042977       7
8      499158780  31.2855488  121.2046891       8
9      499158783  31.2791592  121.2132000       9
10     499158786  31.2782308  121.2146911      10
11     625789901  31.2848908  121.2082387      11
12     625789923  31.2884885  121.2187802      12
13     625789925  31.2859423  121.2183671      13
14     625789927  31.2844972  121.2174928      14
15    1187044372  31.2792940  121.2133085      15
16    1187044390  31.2850803  121.2053068      16
17    1187044507  31.2785316  121.2144677      17
18    1187044726  31.2856723  121.2047760      18
19    1187044733  31.2837590  121.2073371      19
20    1187044749  31.2792278  121.2133993      20
21    1187044775  31.2783973  121.2143694      21
22    1187044863  31.2851959  121.2054268      22
23    1187044881  31.2788263  121.2139908      23
24    1187044978  31.2853859  121.2051680      24
25    1187044987  31.2790962  121.2132844      25
26    1187045087  31.2786805  121.2138784      26
27    1187045164  31.2844055  121.2064661      27
28    1187045165  31.2852686  121.2050544      28
29    1187045195  31.2783553  121.2147809      29
...          ...         ...          ...     ...
4598  4725340380  31.2916643  121.2026539    4598
4599  4725340381  31.2916219  121.2027249    4599
4600  4725340382  31.2915828  121.2026930    4600
4601  4725340383  31.2916252  121.2026219    4601
4602  4725340384  31.2918563  121.2026191    4602
4603  4725340385  31.2917738  121.2025561    4603
4604  4725340386  31.2918052  121.2024999    4604
4605  4725340387  31.2918877  121.2025629    4605
4606  4725340388  31.2914356  121.2023250    4606
4607  4725340389  31.2915121  121.2024274    4607
4608  4725340390  31.2915404  121.2023985    4608
4609  4725340391  31.2914639  121.2022960    4609
4610  4725340392  31.2921673  121.2039669    4610
4611  4725340393  31.2922925  121.2041347    4611
4612  4725340394  31.2923593  121.2040664    4612
4613  4725340395  31.2922341  121.2038986    4613
4614  4725340396  31.2920305  121.2015375    4614
4615  4725340397  31.2920172  121.2015197    4615
4616  4725340398  31.2921190  121.2016020    4616
4617  4725340399  31.2920917  121.2015653    4617
4618  4725340400  31.2919657  121.2016038    4618
4619  4725340401  31.2920312  121.2016917    4619
4620  4725340402  31.2921122  121.2015443    4620
4621  4725340403  31.2920607  121.2014753    4621
4622  4725340404  31.2908753  121.2019758    4622
4623  4725340405  31.2909565  121.2020956    4623
4624  4725340406  31.2910919  121.2019699    4624
4625  4725340407  31.2910107  121.2018501    4625
4626  4772056698  31.2854155  121.2184731    4626
4627  4772056699  31.2848012  121.2201146    4627

[4628 rows x 4 columns]

In [4]:
print df1.lat.max()
print df1.lat.min()

31.4263578
31.2692027

In [5]:
print df1.lon.max()
print df1.lon.min()

121.2855157
121.1806807

In [15]:
df1.to_csv('../data/jiading_map/Nodes.csv',index=False)

In [44]:
# None sense...
# length=len(df1)
# file=open('WA_Nodes.txt','wb')
# for i in range(length):
#     print>>file,    df1.loc[i,'new_id'],df1.loc[i,'lat'],df1.loc[i,'lon']

# file.close()

In [16]:
ways = bsr.find_all('way')
way_kinds = ['motorway','motorway_link','primary','primary_link',\
            'secondary','secondary_link','tertiary', 'tertiary_link','residential','living_street',\
            'service','trunk','trunk_link','unclassified','road','track']

highways = []
way_types = set(['pedestrian', 'footway', 'steps'])
for w in ways:
    flag=False
    way_id = int(w.attrs['id'])
    for tag in w.find_all('tag'):
        if tag['k']=='highway':
            if tag['v'] in way_kinds and way_id not in [266205933, 266205935]:
                flag=True
                break
            else:
                if tag['v'] in way_types and way_id in [384531666, 384531667, 266221576, 263913992, 263913994, 135419990, 135372842, 135372843, 135372844, 135372845]:
                    flag=True
                    break
                
    if flag:
        highways.append(w)
# highways[:5]
print way_types, len(highways)

set(['pedestrian', 'steps', 'footway']) 143

In [18]:
import pandas as pd
from collections import defaultdict
segMap = defaultdict(int)

def chunks(l, n):
    """Yield successive n-sized chunks from l."""
    for i in range(0, len(l), n-1):
        yield l[i:i+n]
final_list=[]
for w in highways:

    isOneway = False
    category = 'unclassified'
    for tag in w.find_all('tag'):
        if tag['k']=='oneway' and tag['v'] =='yes':
            isOneway = True
        if tag['k']=='highway':
            category = tag['v']

    nodes=[nd['ref'] for nd in w.find_all('nd')]
    for node in nodes:
        segMap[node] += 1
    len_nodes=len(nodes)
    final_list.append([1, False,  category,nodes])
#     final_list.append([1, False,  category,nodes[::-1]])
#         nodes_list=list(chunks(nodes,4))
#         if(len(nodes_list[-1])==1):
#             nodes_list.pop()    
#         for nds in nodes_list:
#             final_list.append([1, isOneway,  category,nds])
junctions = set()       
for k in segMap.keys():
    if segMap[k] > 1:
        junctions.add(k)
    
print len(junctions)
df = pd.DataFrame(final_list,columns=['id','oneway','category','nodes'])
df

175

,id,oneway,category,nodes
0,1,False,trunk,"[1187045165, 1187044390]"
1,1,False,trunk,"[1187044733, 1797222842, 1187045164, 1187044863]"
2,1,False,trunk,"[1187044978, 1187044726, 1187061162, 118706119..."
3,1,False,trunk,"[1187044372, 1187044733]"
4,1,False,trunk,"[1187045195, 1187044507, 1187044881, 175100898..."
5,1,False,trunk,"[1187044863, 1187044978]"
6,1,False,trunk,"[1187044987, 1751008982, 1187045087, 118704477..."
7,1,False,trunk,"[499158740, 1187061213, 499158746, 1187061157,..."
8,1,False,primary,"[1187044372, 499158783, 1827278615, 1455069223..."
9,1,False,primary,"[1246571058, 1246571008]"
10,1,False,primary,"[368906068, 1246570865]"
11,1,False,primary,"[1246571050, 1246571093, 1246571073, 124657096..."
12,1,False,primary,"[1246570930, 1246571007, 1246570893, 124657097..."
13,1,False,primary,"[1246570903, 1246570858, 1246571066, 124657095..."
14,1,False,primary,"[1246570865, 1759597941, 625789923, 1246570910..."
15,1,False,primary,"[1246570891, 1246571050]"
16,1,False,primary,"[1246570915, 1246570837]"
17,1,False,primary,"[1246570837, 1759597726, 3459234286, 1246570875]"
18,1,False,primary,"[1246570803, 1246570930]"
19,1,False,primary,"[1246570947, 3459234288, 1759597674, 368906068]"
20,1,False,primary,"[1187044987, 1187044749, 1246570891]"
21,1,False,primary,"[1246570826, 1246570903]"
22,1,False,tertiary,"[1455057526, 1455057529, 1455057530, 145505753..."
23,1,False,residential,"[1455069224, 1455069223]"
24,1,False,residential,"[1455069215, 1455069216, 1455069217]"
25,1,False,residential,"[1455069217, 1455069218, 1455069220, 145506922..."
26,1,False,residential,"[1455069190, 1455069192, 1455069193, 145506919..."
27,1,False,footway,"[1486844876, 1486844873, 1486844870, 148684486..."
28,1,False,footway,"[1486844894, 1486844891, 1486844890, 148684488..."
29,1,False,footway,"[1486844896, 1486844895, 1486844886, 148684488..."
...,...,...,...,...
113,1,False,service,"[2719194248, 2719194249, 2719194250, 271919425..."
114,1,False,service,"[2719194248, 2719194263]"
115,1,False,service,"[1759597838, 1759598242, 1759598185, 175959804..."
116,1,False,service,"[1759597838, 2717390065, 1759598234]"
117,1,False,tertiary,"[3459234286, 3459234288, 3459234289, 345923429..."
118,1,False,tertiary,"[3288695771, 3288695768, 3288695766, 328869576..."
119,1,False,unclassified,"[3459183640, 3459183642, 3459183645, 345918364..."
120,1,False,tertiary,"[3459236602, 3459236600, 3459236599, 345923659..."
121,1,False,tertiary,"[3288686439, 3288686442, 3490623752, 328868644..."
122,1,False,tertiary,"[3459235788, 3459236602]"
123,1,False,tertiary,"[3288686438, 3288686439]"
124,1,False,tertiary,"[3459236793, 3459236794]"
125,1,False,tertiary,"[3288686434, 3288686433]"
126,1,False,tertiary,"[3459236794, 3459236795, 3459236796, 328868643..."
127,1,False,tertiary,"[3288686433, 3288686432, 3459235792, 345923579..."
128,1,False,unclassified,"[3490623764, 3490629403, 3490623752, 3490623749]"
129,1,False,unclassified,"[3459235792, 3459236796, 3490623753, 349062375..."
130,1,False,service,"[3878436132, 1759597759, 1759598220, 175959801..."
131,1,False,service,"[1759597690, 3878436152]"
132,1,False,pedestrian,"[1759597920, 3878436155, 1487314710, 148731471..."
133,1,False,pedestrian,"[1759597604, 3878436154, 2703796554]"
134,1,False,unclassified,"[4039264989, 4039264998, 4039265015, 4039265010]"
135,1,False,residential,"[4039265066, 4039265020, 4039265023, 403926503..."
136,1,False,tertiary_link,"[3288686458, 4039265053]"
137,1,False,trunk,"[1455057638, 499158783, 1187044987]"
138,1,False,trunk,"[1187044390, 1751009006, 1455057638]"
139,1,False,primary,"[1246571008, 1187044372]"
140,1,False,primary,"[1246570831, 1187044987]"
141,1,False,tertiary,"[1455057638, 1187044733]"
142,1,False,tertiary,"[1455069224, 1827278620, 1455057638]"

In [20]:
a = [1759597604, 3878436154, 2703796554]
list(reversed(a))

[2703796554L, 3878436154L, 1759597604]

In [21]:
final_list=[]
for index, row in df.iterrows():
#     print index, row['nodes']
    st = 0;
    node_list = []
    for i in range(1, len(row['nodes']) - 1):
        if row['nodes'][i] in junctions:
            node_list.append(row['nodes'][st:i+1])
            node_list.append(list(reversed(row['nodes'][st:i+1])))
            st = i
    node_list.append(row['nodes'][st:len(row['nodes'])])
    node_list.append(list(reversed(row['nodes'][st:len(row['nodes'])])))
    for nst in node_list:
        final_list.append([1, row['oneway'], row['category'], nst]) 
df = pd.DataFrame(final_list,columns=['id','oneway','category','nodes'])
df

,id,oneway,category,nodes
0,1,False,trunk,"[1187045165, 1187044390]"
1,1,False,trunk,"[1187044390, 1187045165]"
2,1,False,trunk,"[1187044733, 1797222842]"
3,1,False,trunk,"[1797222842, 1187044733]"
4,1,False,trunk,"[1797222842, 1187045164, 1187044863]"
5,1,False,trunk,"[1187044863, 1187045164, 1797222842]"
6,1,False,trunk,"[1187044978, 1187044726, 1187061162, 118706119..."
7,1,False,trunk,"[1187061183, 1187061223, 1187061253, 118706119..."
8,1,False,trunk,"[1187061183, 1187061211, 1187061243, 118706118..."
9,1,False,trunk,"[1187061255, 3459182336, 1187061236, 118706118..."
10,1,False,trunk,"[1187044372, 1187044733]"
11,1,False,trunk,"[1187044733, 1187044372]"
12,1,False,trunk,"[1187045195, 1187044507, 1187044881, 175100898..."
13,1,False,trunk,"[1187044749, 1751008985, 1187044881, 118704450..."
14,1,False,trunk,"[1187044749, 1187044372]"
15,1,False,trunk,"[1187044372, 1187044749]"
16,1,False,trunk,"[1187044863, 1187044978]"
17,1,False,trunk,"[1187044978, 1187044863]"
18,1,False,trunk,"[1187044987, 1751008982, 1187045087, 118704477..."
19,1,False,trunk,"[499158786, 1187044775, 1187045087, 1751008982..."
20,1,False,trunk,"[499158740, 1187061213, 499158746, 1187061157,..."
21,1,False,trunk,"[499158759, 1187061232, 1187061201, 499158754,..."
22,1,False,primary,"[1187044372, 499158783]"
23,1,False,primary,"[499158783, 1187044372]"
24,1,False,primary,"[499158783, 1827278615, 1455069223]"
25,1,False,primary,"[1455069223, 1827278615, 499158783]"
26,1,False,primary,"[1455069223, 1827278612, 1246570944]"
27,1,False,primary,"[1246570944, 1827278612, 1455069223]"
28,1,False,primary,"[1246571058, 1246571008]"
29,1,False,primary,"[1246571008, 1246571058]"
...,...,...,...,...
520,1,False,service,"[1759597690, 3878436152]"
521,1,False,service,"[3878436152, 1759597690]"
522,1,False,pedestrian,"[1759597920, 3878436155, 1487314710]"
523,1,False,pedestrian,"[1487314710, 3878436155, 1759597920]"
524,1,False,pedestrian,"[1487314710, 1487314711, 3878436153]"
525,1,False,pedestrian,"[3878436153, 1487314711, 1487314710]"
526,1,False,pedestrian,"[1759597604, 3878436154, 2703796554]"
527,1,False,pedestrian,"[2703796554, 3878436154, 1759597604]"
528,1,False,unclassified,"[4039264989, 4039264998]"
529,1,False,unclassified,"[4039264998, 4039264989]"
530,1,False,unclassified,"[4039264998, 4039265015, 4039265010]"
531,1,False,unclassified,"[4039265010, 4039265015, 4039264998]"
532,1,False,residential,"[4039265066, 4039265020, 4039265023, 403926503..."
533,1,False,residential,"[4039264998, 4039265043, 4039264982, 403926499..."
534,1,False,tertiary_link,"[3288686458, 4039265053]"
535,1,False,tertiary_link,"[4039265053, 3288686458]"
536,1,False,trunk,"[1455057638, 499158783]"
537,1,False,trunk,"[499158783, 1455057638]"
538,1,False,trunk,"[499158783, 1187044987]"
539,1,False,trunk,"[1187044987, 499158783]"
540,1,False,trunk,"[1187044390, 1751009006, 1455057638]"
541,1,False,trunk,"[1455057638, 1751009006, 1187044390]"
542,1,False,primary,"[1246571008, 1187044372]"
543,1,False,primary,"[1187044372, 1246571008]"
544,1,False,primary,"[1246570831, 1187044987]"
545,1,False,primary,"[1187044987, 1246570831]"
546,1,False,tertiary,"[1455057638, 1187044733]"
547,1,False,tertiary,"[1187044733, 1455057638]"
548,1,False,tertiary,"[1455069224, 1827278620, 1455057638]"
549,1,False,tertiary,"[1455057638, 1827278620, 1455069224]"

In [23]:
df['id']=df.index
df['nodes']=df['nodes'].apply(lambda x:list(x))
df

,id,oneway,category,nodes
0,0,False,trunk,"[1187045165, 1187044390]"
1,1,False,trunk,"[1187044390, 1187045165]"
2,2,False,trunk,"[1187044733, 1797222842]"
3,3,False,trunk,"[1797222842, 1187044733]"
4,4,False,trunk,"[1797222842, 1187045164, 1187044863]"
5,5,False,trunk,"[1187044863, 1187045164, 1797222842]"
6,6,False,trunk,"[1187044978, 1187044726, 1187061162, 118706119..."
7,7,False,trunk,"[1187061183, 1187061223, 1187061253, 118706119..."
8,8,False,trunk,"[1187061183, 1187061211, 1187061243, 118706118..."
9,9,False,trunk,"[1187061255, 3459182336, 1187061236, 118706118..."
10,10,False,trunk,"[1187044372, 1187044733]"
11,11,False,trunk,"[1187044733, 1187044372]"
12,12,False,trunk,"[1187045195, 1187044507, 1187044881, 175100898..."
13,13,False,trunk,"[1187044749, 1751008985, 1187044881, 118704450..."
14,14,False,trunk,"[1187044749, 1187044372]"
15,15,False,trunk,"[1187044372, 1187044749]"
16,16,False,trunk,"[1187044863, 1187044978]"
17,17,False,trunk,"[1187044978, 1187044863]"
18,18,False,trunk,"[1187044987, 1751008982, 1187045087, 118704477..."
19,19,False,trunk,"[499158786, 1187044775, 1187045087, 1751008982..."
20,20,False,trunk,"[499158740, 1187061213, 499158746, 1187061157,..."
21,21,False,trunk,"[499158759, 1187061232, 1187061201, 499158754,..."
22,22,False,primary,"[1187044372, 499158783]"
23,23,False,primary,"[499158783, 1187044372]"
24,24,False,primary,"[499158783, 1827278615, 1455069223]"
25,25,False,primary,"[1455069223, 1827278615, 499158783]"
26,26,False,primary,"[1455069223, 1827278612, 1246570944]"
27,27,False,primary,"[1246570944, 1827278612, 1455069223]"
28,28,False,primary,"[1246571058, 1246571008]"
29,29,False,primary,"[1246571008, 1246571058]"
...,...,...,...,...
520,520,False,service,"[1759597690, 3878436152]"
521,521,False,service,"[3878436152, 1759597690]"
522,522,False,pedestrian,"[1759597920, 3878436155, 1487314710]"
523,523,False,pedestrian,"[1487314710, 3878436155, 1759597920]"
524,524,False,pedestrian,"[1487314710, 1487314711, 3878436153]"
525,525,False,pedestrian,"[3878436153, 1487314711, 1487314710]"
526,526,False,pedestrian,"[1759597604, 3878436154, 2703796554]"
527,527,False,pedestrian,"[2703796554, 3878436154, 1759597604]"
528,528,False,unclassified,"[4039264989, 4039264998]"
529,529,False,unclassified,"[4039264998, 4039264989]"
530,530,False,unclassified,"[4039264998, 4039265015, 4039265010]"
531,531,False,unclassified,"[4039265010, 4039265015, 4039264998]"
532,532,False,residential,"[4039265066, 4039265020, 4039265023, 403926503..."
533,533,False,residential,"[4039264998, 4039265043, 4039264982, 403926499..."
534,534,False,tertiary_link,"[3288686458, 4039265053]"
535,535,False,tertiary_link,"[4039265053, 3288686458]"
536,536,False,trunk,"[1455057638, 499158783]"
537,537,False,trunk,"[499158783, 1455057638]"
538,538,False,trunk,"[499158783, 1187044987]"
539,539,False,trunk,"[1187044987, 499158783]"
540,540,False,trunk,"[1187044390, 1751009006, 1455057638]"
541,541,False,trunk,"[1455057638, 1751009006, 1187044390]"
542,542,False,primary,"[1246571008, 1187044372]"
543,543,False,primary,"[1187044372, 1246571008]"
544,544,False,primary,"[1246570831, 1187044987]"
545,545,False,primary,"[1187044987, 1246570831]"
546,546,False,tertiary,"[1455057638, 1187044733]"
547,547,False,tertiary,"[1187044733, 1455057638]"
548,548,False,tertiary,"[1455069224, 1827278620, 1455057638]"
549,549,False,tertiary,"[1455057638, 1827278620, 1455069224]"

In [24]:
df.to_csv('../data/jiading_map/highway.csv',index=False)