In [8]:
import pandas as pd
df=pd.read_csv('../data/jiading_map/Nodes.csv')
df

       origin_id        lat         lon  new_id
0      368906068  31.290617  121.218583       0
1      499158740  31.287418  121.197300       1
2      499158746  31.287474  121.198157       2
3      499158754  31.287422  121.199654       3
4      499158759  31.287170  121.201145       4
5      499158764  31.286881  121.202113       5
6      499158768  31.286506  121.203037       6
7      499158775  31.285819  121.204298       7
8      499158780  31.285549  121.204689       8
9      499158783  31.279159  121.213200       9
10     499158786  31.278231  121.214691      10
11     625789901  31.284891  121.208239      11
12     625789923  31.288488  121.218780      12
13     625789925  31.285942  121.218367      13
14     625789927  31.284497  121.217493      14
15    1187044372  31.279294  121.213308      15
16    1187044390  31.285080  121.205307      16
17    1187044507  31.278532  121.214468      17
18    1187044726  31.285672  121.204776      18
19    1187044733  31.283759  121.207337      19
20    1187044749  31.279228  121.213399      20
21    1187044775  31.278397  121.214369      21
22    1187044863  31.285196  121.205427      22
23    1187044881  31.278826  121.213991      23
24    1187044978  31.285386  121.205168      24
25    1187044987  31.279096  121.213284      25
26    1187045087  31.278681  121.213878      26
27    1187045164  31.284405  121.206466      27
28    1187045165  31.285269  121.205054      28
29    1187045195  31.278355  121.214781      29
...          ...        ...         ...     ...
4598  4725340380  31.291664  121.202654    4598
4599  4725340381  31.291622  121.202725    4599
4600  4725340382  31.291583  121.202693    4600
4601  4725340383  31.291625  121.202622    4601
4602  4725340384  31.291856  121.202619    4602
4603  4725340385  31.291774  121.202556    4603
4604  4725340386  31.291805  121.202500    4604
4605  4725340387  31.291888  121.202563    4605
4606  4725340388  31.291436  121.202325    4606
4607  4725340389  31.291512  121.202427    4607
4608  4725340390  31.291540  121.202399    4608
4609  4725340391  31.291464  121.202296    4609
4610  4725340392  31.292167  121.203967    4610
4611  4725340393  31.292292  121.204135    4611
4612  4725340394  31.292359  121.204066    4612
4613  4725340395  31.292234  121.203899    4613
4614  4725340396  31.292030  121.201538    4614
4615  4725340397  31.292017  121.201520    4615
4616  4725340398  31.292119  121.201602    4616
4617  4725340399  31.292092  121.201565    4617
4618  4725340400  31.291966  121.201604    4618
4619  4725340401  31.292031  121.201692    4619
4620  4725340402  31.292112  121.201544    4620
4621  4725340403  31.292061  121.201475    4621
4622  4725340404  31.290875  121.201976    4622
4623  4725340405  31.290957  121.202096    4623
4624  4725340406  31.291092  121.201970    4624
4625  4725340407  31.291011  121.201850    4625
4626  4772056698  31.285416  121.218473    4626
4627  4772056699  31.284801  121.220115    4627

[4628 rows x 4 columns]

In [9]:
def get_node_lat_lon(node_id):

    node=df[df.origin_id==node_id]
    return node.iloc[0,1],node.iloc[0,2]

# print get_node_lat_lon(4727003825)


def cal_distance(nodeA,nodeB):
#     nodeA=eval(nodeA)
#     nodeB=eval(nodeB)
    from geopy.distance import vincenty
    latA,lonA=get_node_lat_lon(nodeA)
    latB,lonB=get_node_lat_lon(nodeB)
    a=(latA,lonA)
    b=(latB,lonB)

    distance=vincenty(a, b).m
    return distance
    
# print cal_distance(4727003825,4727003824)

def distance(strlist):
    list=[eval(node_id) for node_id in eval(strlist)]
    
    dis=0
    for i in range(len(list)-1):
        dis=dis+cal_distance(list[i],list[i+1])
    return dis

In [11]:
ddf=pd.read_csv('../data/jiading_map/highway.csv')[['id','nodes']]
# print ddf
ddf['from']=ddf['nodes'].apply(lambda x:eval(x)[0])
ddf['to']=ddf['nodes'].apply(lambda x:eval(x)[-1])

# from __future__ import division  
# ddf['distance']=ddf['nodes'].apply(lambda x: distance(x))
# ddf['speed']=(ddf['maxspeed']+ddf['minspeed'])/2
ddf['cost']=ddf['nodes'].apply(lambda x:distance(x))
ddf

,id,nodes,from,to,cost
0,0,"[u'1187045165', u'1187044390']",1187045165,1187044390,31.835088
1,1,"[u'1187044390', u'1187045165']",1187044390,1187045165,31.835088
2,2,"[u'1187044733', u'1797222842']",1187044733,1797222842,18.420551
3,3,"[u'1797222842', u'1187044733']",1797222842,1187044733,18.420551
4,4,"[u'1797222842', u'1187045164', u'1187044863']",1797222842,1187044863,223.385898
5,5,"[u'1187044863', u'1187045164', u'1797222842']",1187044863,1797222842,223.385898
6,6,"[u'1187044978', u'1187044726', u'1187061162', ...",1187044978,1187061183,289.264935
7,7,"[u'1187061183', u'1187061223', u'1187061253', ...",1187061183,1187044978,289.264935
8,8,"[u'1187061183', u'1187061211', u'1187061243', ...",1187061183,1187061255,531.323913
9,9,"[u'1187061255', u'3459182336', u'1187061236', ...",1187061255,1187061183,531.323913
10,10,"[u'1187044372', u'1187044733']",1187044372,1187044733,753.921554
11,11,"[u'1187044733', u'1187044372']",1187044733,1187044372,753.921554
12,12,"[u'1187045195', u'1187044507', u'1187044881', ...",1187045195,1187044749,163.405129
13,13,"[u'1187044749', u'1751008985', u'1187044881', ...",1187044749,1187045195,163.405129
14,14,"[u'1187044749', u'1187044372']",1187044749,1187044372,11.341664
15,15,"[u'1187044372', u'1187044749']",1187044372,1187044749,11.341664
16,16,"[u'1187044863', u'1187044978']",1187044863,1187044978,32.419752
17,17,"[u'1187044978', u'1187044863']",1187044978,1187044863,32.419752
18,18,"[u'1187044987', u'1751008982', u'1187045087', ...",1187044987,499158786,165.070939
19,19,"[u'499158786', u'1187044775', u'1187045087', u...",499158786,1187044987,165.070939
20,20,"[u'499158740', u'1187061213', u'499158746', u'...",499158740,499158759,369.367507
21,21,"[u'499158759', u'1187061232', u'1187061201', u...",499158759,499158740,369.367507
22,22,"[u'1187044372', u'499158783']",1187044372,499158783,18.169386
23,23,"[u'499158783', u'1187044372']",499158783,1187044372,18.169386
24,24,"[u'499158783', u'1827278615', u'1455069223']",499158783,1455069223,210.136765
25,25,"[u'1455069223', u'1827278615', u'499158783']",1455069223,499158783,210.136765
26,26,"[u'1455069223', u'1827278612', u'1246570944']",1455069223,1246570944,101.135745
27,27,"[u'1246570944', u'1827278612', u'1455069223']",1246570944,1455069223,101.135745
28,28,"[u'1246571058', u'1246571008']",1246571058,1246571008,28.678306
29,29,"[u'1246571008', u'1246571058']",1246571008,1246571058,28.678306
...,...,...,...,...,...
520,520,"[u'1759597690', u'3878436152']",1759597690,3878436152,15.932335
521,521,"[u'3878436152', u'1759597690']",3878436152,1759597690,15.932335
522,522,"[u'1759597920', u'3878436155', u'1487314710']",1759597920,1487314710,265.500651
523,523,"[u'1487314710', u'3878436155', u'1759597920']",1487314710,1759597920,265.500651
524,524,"[u'1487314710', u'1487314711', u'3878436153']",1487314710,3878436153,85.116749
525,525,"[u'3878436153', u'1487314711', u'1487314710']",3878436153,1487314710,85.116749
526,526,"[u'1759597604', u'3878436154', u'2703796554']",1759597604,2703796554,244.253859
527,527,"[u'2703796554', u'3878436154', u'1759597604']",2703796554,1759597604,244.253859
528,528,"[u'4039264989', u'4039264998']",4039264989,4039264998,81.475476
529,529,"[u'4039264998', u'4039264989']",4039264998,4039264989,81.475476
530,530,"[u'4039264998', u'4039265015', u'4039265010']",4039264998,4039265010,456.477556
531,531,"[u'4039265010', u'4039265015', u'4039264998']",4039265010,4039264998,456.477556
532,532,"[u'4039265066', u'4039265020', u'4039265023', ...",4039265066,4039264998,922.402280
533,533,"[u'4039264998', u'4039265043', u'4039264982', ...",4039264998,4039265066,922.402280
534,534,"[u'3288686458', u'4039265053']",3288686458,4039265053,10.237213
535,535,"[u'4039265053', u'3288686458']",4039265053,3288686458,10.237213
536,536,"[u'1455057638', u'499158783']",1455057638,499158783,748.548169
537,537,"[u'499158783', u'1455057638']",499158783,1455057638,748.548169
538,538,"[u'499158783', u'1187044987']",499158783,1187044987,10.648178
539,539,"[u'1187044987', u'499158783']",1187044987,499158783,10.648178
540,540,"[u'1187044390', u'1751009006', u'1455057638']",1187044390,1455057638,249.402263
541,541,"[u'1455057638', u'1751009006', u'1187044390']",1455057638,1187044390,249.402263
542,542,"[u'1246571008', u'1187044372']",1246571008,1187044372,102.255646
543,543,"[u'1187044372', u'1246571008']",1187044372,1246571008,102.255646
544,544,"[u'1246570831', u'1187044987']",1246570831,1187044987,300.073542
545,545,"[u'1187044987', u'1246570831']",1187044987,1246570831,300.073542
546,546,"[u'1455057638', u'1187044733']",1455057638,1187044733,18.546739
547,547,"[u'1187044733', u'1455057638']",1187044733,1455057638,18.546739
548,548,"[u'1455069224', u'1827278620', u'1455057638']",1455069224,1455057638,414.998851
549,549,"[u'1455057638', u'1827278620', u'1455069224']",1455057638,1455069224,414.998851

In [12]:
ddff=ddf[['id','from','to','cost','nodes']] 
ddff.to_csv('../data/jiading_map/Edges.csv',index=False)
ddff.head()

,id,from,to,cost,nodes
0,0,1187045165,1187044390,31.835088,"[u'1187045165', u'1187044390']"
1,1,1187044390,1187045165,31.835088,"[u'1187044390', u'1187045165']"
2,2,1187044733,1797222842,18.420551,"[u'1187044733', u'1797222842']"
3,3,1797222842,1187044733,18.420551,"[u'1797222842', u'1187044733']"
4,4,1797222842,1187044863,223.385898,"[u'1797222842', u'1187045164', u'1187044863']"

In [13]:
import pandas as pd
df=pd.read_csv('../data/jiading_map/Nodes.csv')
ddff=pd.read_csv('../data/jiading_map/Edges.csv')
def get_newid(origin_id):
    return int(df[df.origin_id==origin_id].loc[:,'new_id'])
    
# print get_newid(25632292)
ddff['from']=ddff['from'].apply(lambda x:get_newid((x)))
ddff['to']=ddff['to'].apply(lambda x:get_newid((x)))
ddff.head()

   id  from    to        cost                                          nodes
0   0    28    16   31.835088                 [u'1187045165', u'1187044390']
1   1    16    28   31.835088                 [u'1187044390', u'1187045165']
2   2    19  1739   18.420551                 [u'1187044733', u'1797222842']
3   3  1739    19   18.420551                 [u'1797222842', u'1187044733']
4   4  1739    22  223.385898  [u'1797222842', u'1187045164', u'1187044863']

In [14]:
ddff[['id','from','to','cost']].to_csv('../data/jiading_map/WA_Edges.csv',index=False)
import pandas as pd
# newdf=pd.read_csv('./data/jiading_map/WA_Edges.csv')
# newdf['cost']=newdf['cost'].apply(lambda x:1)
# length=len(newdf)
# file=open('WA_Edges.txt','wb')
# for i in range(length):
#     print>>file,    int(newdf.loc[i,'id']),int(newdf.loc[i,'from']),int(newdf.loc[i,'to']),int(newdf.loc[i,'cost'])

# file.close()